/* css for the whole page, includes bg color and font family  */
html {
  background-color: #2d4a37;
  font-family: "Gupter", serif;
  text-align: center;
  width: auto;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* CSS For the body (section items), h1 - h3   */
body {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
  color: gold;
}

h1 {
  font-weight: bold;
  color: aquamarine;
}
h2 {
  font-weight: bold;
  color: plum;
}
h3 {
  font-weight: bold;
  color: greenyellow;
}

li {
  font-size: 16px;
}

/*CSS for h1*/
h1 {
  font-size: 50px;
  text-align: center;
  color: #0c9463;
}

/*CSS for h2*/
h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

/* section styles */
section {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
  width: 1200px;
  margin-left: 70px;
  color: #0c9463;
}
section article {
  border: 1px solid black;
  box-shadow: 0 2px 4px #eff1f3;
  padding: 2.5%;
  width: 30%;
}
article img {
  display: block;
  height: 150px;
  width: 90px;
}
section p {
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

/*Google map CSSs*/
#map {
  height: 100%;
}
